[Desktop Entry]
Type=Application
Name=Switchcraft
Comment=Run commands when GNOME theme switches
Exec=switchcraft
Icon=switchcraft
Terminal=false
Categories=Utility;GNOME;GTK;
StartupNotify=false
StartupWMClass=io.github.switchcraft.Switchcraft
X-AppImage-Version=1.2.0